/.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

# Python packaging
build/
dist/
*.egg-info/

# Tooling caches
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Editors/IDEs
.vscode/
.idea/

# Env files
.env
